@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body {
    background: #F7F7F9;
}

#app-title { font-family: 'Bangers', cursive; }

#room-container {
    height:600px;
    width:100%;
    background-color: white;
}
#video-queue {
    width:200px;
    height:600px;
    background-color:white;
}

#chat-window {
    width:200px;
    height:600px;
    background-color:white;
}
#chat-window .chat-items {
    height: 550px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size:14px;
}
#chat-window .chat-items .item {
    padding:3px 7px;
}
#chat-window .chat-input input {
    width:100%;
    height:50px;
    border:none;
    border-top:1px solid #dee2e6;
    margin-top:-2px;
    padding:3px;
    font-size:14px;
}