@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body {
    background: #F7F7F9;
}

#app-title { font-family: 'Bangers', cursive; }

#room-cards .room-card {
    width:500px;
    display:inline-block;
    max-width:initial;
}
#room-cards .room-card:nth-child(2n) {
    margin-left:50px !important;
}
#room-container {
    height:600px;
    width:100%;
    background-color: white;
}
#video-queue {
    width:200px;
    height:600px;
    background-color:white;
}

#chat-window {
    width:200px;
    height:600px;
    background-color:white;
}
#chat-window .chat-items,
#video-queue .video-items {
    height: 550px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size:14px;
    overflow-y: scroll;
}
#chat-window .chat-items .item {
    padding:3px 7px;
}
#video-queue .video-items .item {
    padding:3px 7px;
    cursor:pointer;
}
#video-queue .video-items .item .img {
    width:50px;
    height:50px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
#video-queue .video-items .item .title {
    max-width:100px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-size:12px;
}
#chat-window .chat-input input,
#video-queue .video-control {
    width:100%;
    height:50px;
    border:none;
    border-top:1px solid #dee2e6;
    margin-top:-2px;
    padding:3px;
    font-size:14px;
}
#video-queue .video-control .addBtn {
    width:100%;
}

#video-queue .video-control .add { cursor:pointer }

#add-video-modal {

    margin-top:100px;
}
#add-video-modal .modal-dialog {
    min-width:1000px;
}
#add-video-modal .modal-body {
    height:500px;

}
#add-video-modal .search-results {
    height:440px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#add-video-modal .search-results ul {
    list-style:none;
    margin:0;
    padding:0;
    padding:10px 0;
}
#add-video-modal .search-results ul li { margin:0; padding:0 }
#add-video-modal .search-results .item {
    padding:20px 0;
}

#add-video-modal .search-results .item:not(:first-child) {
    margin-top:10px;
    border-top:1px solid #CED4DA;
}
#add-video-modal .search-results .item .img {
    width:120px;
    height:90px;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url('http://placehold.it/100x100');
    background-size: 130%;
}
#add-video-modal .search-results .item .desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:700px;
    height: 16px;
    line-height: 16px;
}
#add-video-modal .search-results .item .add-video {
    margin-right:10px;
}
#add-video-modal .search-results .getMore {
    cursor:pointer;
}
